<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Designer Title</h2>

		<!-- start career detail -->
		<div class="career-div">
			<p>
				Curabitur porta nibh ac ante lobortis vestibulum. Nam sem erat, accumsan in ligula sit amet, congue
				tincidunt diam. Pellentesque blandit mi in commodo posuere. In velit massa, venenatis sit amet augue
				vel, dictum molestie sapien. Maecenas vestibulum ipsum ut purus cursus rhoncus. Morbi a massa sem.
				Mauris vel nibh ac est mattis pharetra. Mauris vel nunc lorem. Donec sodales mollis velit, non placerat
				purus viverra
			</p>
			<hr>

			<strong>Responsibilities</strong>
			<ul>
				<li>Bla bla bla</li>
			</ul>
		</div>
		<!-- end career detail -->

		<em>Send an email the role to {{preferred_email}}</em>

	</section>


	<style>
		.career-div {
			text-align: left;
		}

		a {
			text-decoration: none;
			color: #233343;
		}

		a:hover {
			text-decoration: underline;
			color: #168d6d;
		}
	</style>
	<%-include('partials/footer')-%>