<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Careers</h2>

		<!-- start career detail -->
		<div class="career-div">
			<div class="career-loc">
				<em>Full-time, Remote</em>
			</div>
			<a href="">
				<h2>Designer Title</h2>
			</a>
			
			<hr>
		</div>
		<!-- end career detail -->

	</section>


	<style>
		.career-div{
			text-align: left;
		}
		a{
			text-decoration: none;
			color: #233343;
		}
		a:hover{
			text-decoration: underline;
			color: #168d6d;
		}
	</style>
	<%-include('partials/footer')-%>