<%- include('partials/header') -%>

	<section id="home-cvr">
		<div class="container-fluid">
			<div class="row">
				<div class="home-col col-lg-6 col-md-12 col-sm-12">
					<!-- <h1 class="home-cvr-h1">A Creative Design Studio.</h1> -->
					<h1 class="home-cvr-h1">We are Creative.</h1>
					<button class="home-cvr-btn btn btn-secondary">CONTACT US</button>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12">
					<img class="home-cvr-img" src="images/excvr.svg" alt="" srcset="">
				</div>

			</div>

		</div>
		<%- include('partials/scroll') -%>
	</section>

	<section class="section-spacing" id="about-cvr">
		<h2 class="about-txt-hr">About Us</h2>
		Sed convallis vestibulum fringilla. Praesent erat augue, ullamcorper quis lacinia sit amet, rhoncus eu
		tellus. Integer lacinia suscipit felis, eu porta ex efficitur id.
		<br>

		<button class="about-btn home-cvr-btn btn btn-secondary">OUR TEAM</button>

	</section>


	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Portfolio</h2>
		<div class="container-fluid">
			<div class="row">

				<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							This is a body
						</div>
						<div class="card-footer">
							This is a footer
						</div>

					</div>
				</div>

				<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							This is a body
						</div>
						<div class="card-footer">
							This is a footer
						</div>

					</div>
				</div>

				<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							This is a body
						</div>
						<div class="card-footer">
							This is a footer
						</div>

					</div>
				</div>

				<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							This is a body
						</div>
						<div class="card-footer">
							This is a footer
						</div>

					</div>
				</div>

				<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							This is a body
						</div>
						<div class="card-footer">
							This is a footer
						</div>

					</div>
				</div>

			</div>

		</div>
	</section>

	<section id="quotation-cvr">
		<h2 class="about-txt-hr">Contact Us</h2>

		<form class="quotation-form" action="" method="post">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<label for="name"></label>
						<input class="form-control" type="text" name="name" id="" placeholder="Your Name*" required>
					</div>
					<div class="col-lg-6">
						<label for="emailAddress"></label>
						<input class="form-control" type="email" name="emailAddress" id="" placeholder="Email Address*"
							required>
					</div>
					<div class="col-lg-12">
						<div class="input-group">
							<select class=" form-control" id="inputGroupSelect04">
								<!-- <option selected>How can we help? <i class="fa-solid fa-circle-chevron-down"></i> -->
								<!-- </option> -->
								<option value="1">Graphic Design</option>
								<option value="2">Motion Graphics</option>
								<option value="3">Training</option>
								<option value="3">Other</option>
							</select>
						</div>
					</div>

					<div class="col-lg-12">
						<label for="detail"></label>
						<textarea class="form-control" name="detail" id="" cols="30" rows="10"
							placeholder="Additional detail, website, etc" required></textarea>


						<button type="submit" class="contact-btn home-cvr-btn btn btn-secondary">Contact Us</button>
					</div>

				</div>
			</div>
		</form>

	</section>


	<%- include('partials/footer') -%>