<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Learning</h2>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5">
					<hr>
					
					<p class="project-description">
						<div class="project-details">
							Program Price: Kes. 2000
						</div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc ipsum, euismod in volutpat
						et, rutrum eget libero. Pellentesque non lorem eu felis consectetur dictum suscipit eget libero.
						In sit amet tristique nibh. Praesent malesuada dui in augue rhoncus faucibus. Aliquam consequat
						justo sit amet felis aliquam, volutpat tempus risus iaculis. Fusce sagittis vitae elit et
						commodo. Fusce eu tellus dictum, aliquam lectus efficitur, sollicitudin lacus.
						<br>
						<button class="about-btn home-cvr-btn btn btn-secondary">Start Learning</button>
						<br>
					
					</p>
					<strong>Instructors[5]</strong>
					<div class="project-sketch-ctr">

						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-12">
									<img src="https://images.unsplash.com/photo-1657642106373-aac1e710c6db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img-instructor">
						<br>
						Daniel Simiyu
								</div>

							</div>

						</div>
						

					</div>
				</div>

				<div class="col-lg-7">
					<strong>Sample Projects[2]</strong>
					<div class="portfolio-ctr">
						<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>
					<div class="portfolio-ctr">
						<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>
				</div>

			</div>

		</div>
	</section>


	<style>
		.portfolio-ctr {
			border: 2px solid;
			margin-bottom: 5px;
		}

		.project-details {
			border: 2px solid;
			border-radius: 10px;
			background-color: #168d6d;
			color: #ffffff;
		}

		.project-sketch-ctr {
			width: 100%;
			/* border-radius: 100px; */
		}
		.portfolio-img-instructor{
			height: 300px;
			/* width: 300px; */
			padding: 10px;
			border-radius: 20px;
			border: 2px solid;
		}
	</style>
	<%-include('partials/footer')-%>