<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Farmers IT Studio</h2>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5">
					<strong>
						Project Description
					</strong>
					
					<p class="project-description">
						
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc ipsum, euismod in volutpat
						et, rutrum eget libero. Pellentesque non lorem eu felis consectetur dictum suscipit eget libero.
						In sit amet tristique nibh. Praesent malesuada dui in augue rhoncus faucibus. Aliquam consequat
						justo sit amet felis aliquam, volutpat tempus risus iaculis. Fusce sagittis vitae elit et
						commodo. Fusce eu tellus dictum, aliquam lectus efficitur, sollicitudin lacus.
						<br>
						<i class="fa-solid fa-circle-check fa-2x"></i>
						<br>
					<div class="project-details">
						Client: Font Awesome Team
					</div>
					</p>
					<strong>Sketches[5]</strong>
					<div class="project-sketch-ctr">
						<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>
				</div>

				<div class="col-lg-7">
					<strong>Images[2]</strong>
					<div class="portfolio-ctr">
						<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>
					<div class="portfolio-ctr">
						<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>

					<strong>Videos[1]</strong>
					<div class="project-sketch-ctr">

						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12">
									<iframe width="100%" height="320" src="https://www.youtube.com/embed/pwlicJ5_Weo"
										title="YouTube video player" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>

							</div>

						</div>


					</div>
				</div>

			</div>

		</div>
	</section>


	<style>
		.portfolio-ctr {
			border: 2px solid;
			margin-bottom: 5px;
		}

		.project-details {
			border: 2px solid;
			border-radius: 10px;
			background-color: #168d6d;
			color: #ffffff;
		}

		.project-sketch-ctr {
			width: 100%;
			/* border: 2px solid; */
		}
	</style>
	<%-include('partials/footer')-%>