<%-include('partials/header')-%>

<section id="portfolio-cvr">
	<h2 class="about-txt-hr">Portfolio</h2>
	<div class="container-fluid">
		<div class="row">

			<!-- start of a single project -->
			<div class="portfolio-col col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="portfolio-ctr">
							<img src="https://images.unsplash.com/photo-1657480194308-7752db5e21f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
								alt="PortfolioAvatar" class="portfolio-img">
							<div class="portfolio-overlay">
								<div class="text">
									Farmers Software Society <br>
									<a href="">
										<button class="home-cvr-btn btn btn-secondary">View</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-card-footer">
						<div class="container">
							<div class="row">
								<div class="col">
									<a href="">
										<i class="portfolio-fa-solid fa-solid fa-comment fa-2x"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


			<!-- end of a single project -->

		</div>

	</div>
	
</section>


<%-include('partials/footer')-%>