<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">Graphic Design</h2>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5">
					<hr>
					
					<p class="project-description">
						
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc ipsum, euismod in volutpat
						et, rutrum eget libero. Pellentesque non lorem eu felis consectetur dictum suscipit eget libero.
						In sit amet tristique nibh. Praesent malesuada dui in augue rhoncus faucibus. Aliquam consequat
						justo sit amet felis aliquam, volutpat tempus risus iaculis. Fusce sagittis vitae elit et
						commodo. Fusce eu tellus dictum, aliquam lectus efficitur, sollicitudin lacus.
						<br>
						<button class="about-btn home-cvr-btn btn btn-secondary">Get Started</button>
					
					</p>
				</div>

				<div class="col-lg-7">
					<div class="portfolio-ctr-logo">
						<img src="images/dentcreativeslogo.svg"
							alt="PortfolioAvatar" class="portfolio-img">
					</div>
				</div>

			</div>

		</div>
		<%- include('partials/contact') -%>
	</section>


	<style>
		.portfolio-ctr {
			border: 2px solid;
			margin-bottom: 5px;
		}

		.project-details {
			border: 2px solid;
			border-radius: 10px;
			background-color: #168d6d;
			color: #ffffff;
		}

		.project-sketch-ctr {
			width: 100%;
		}
		.portfolio-img-instructor{
			height: 300px;
			padding: 10px;
			border-radius: 20px;
			border: 2px solid;
		}
		.portfolio-img{
			width: 50%;
		}
		.portfolio-ctr-logo{
			padding: 10px;
			border-radius: 15px 5px;
			border: 2px 0 0 1px;
		}
	</style>
	<%-include('partials/footer')-%>