<%-include('partials/header')-%>
	<section id="portfolio-cvr">
		<h2 class="about-txt-hr">We are Creative!</h2>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<p class="project-description">

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc ipsum, euismod in volutpat
						et, rutrum eget libero. Pellentesque non lorem eu felis consectetur dictum suscipit eget libero.
						In sit amet tristique nibh. Praesent malesuada dui in augue rhoncus faucibus.
						<br>
						<button class="about-btn home-cvr-btn btn btn-secondary">View Open Positions</button>
					</p>
				</div>

				<div class="col-lg-12">
					<h2 class="about-txt-hr">Our Team</h2>
					<div class="container-fluid">
						<div class="row">
							<!-- start of a single user -->
			<div class="team-ctr portfolio-col col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="portfolio-ctr">
							<img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
								alt="PortfolioAvatar" class="portfolio-img">
							<div class="portfolio-overlay">
								<div class="text">
									<!-- <i class="fa-brands fa-linkedin-in"></i> -->
									<img src="images/denticon.svg" alt="denticon" srcset="" width="24">
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-card-footer">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h3>Mwale Mphatso Henry</h3>
								</div>
								<div class="col-12">
									Senior Designer
								</div>
								<div class="col-12">
									<div class="row">
										<div class="col">
											<a href="">
												<i class="portfolio-fa-solid fa-brands fa-twitter fa-2x"></i>
											</a>
										</div>
										<div class="col">
											<a href="">
												<i class="portfolio-fa-solid fa-brands fa-instagram fa-2x"></i>
											</a>
										</div>
										<div class="col">
											<a href="">
												<i class="portfolio-fa-solid fa-brands fa-linkedin-in fa-2x"></i>
											</a>
										</div>						
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- end of a single user -->
					

						</div>

					</div>

				</div>

			</div>

		</div>
	</section>


	<style>

		.team-ctr{
			border: 1px solid;
		}
	</style>
	<%-include('partials/footer')-%>