body {
	font-family: 'Poppins', sans-serif;
	word-spacing: 1.5px;
	background-color: #ffffff;
	color: #233343;
	padding-top: 65px;
}

::selection {
	background-color: #168D6D;
	color: #FFFFFF;
}

input {
	margin: 5px 0;
	width: 100%;
}

textarea {
	resize: none;
}

#home-cvr {
	margin: 2% 15%;
	height: 100vh;
	justify-content: center;
}

#about-cvr {
	margin: 2% 26%;
	height: 50vh;
	text-align: center;
}

#portfolio-cvr {
	margin: 2% 5%;
	text-align: center;
}

#quotation-cvr {
	margin: 2% 15%;
	text-align: center;
}

.portfolio-col {
	padding: 3px;
}

#about {
	margin-top: 3%;
}

.about-p {

	text-align: center;
	font-size: 1.3rem;
}

.about-btn {
	margin-top: 5px;
}

.about-txt-hr {
	text-decoration: overline;
}

.home-cvr-btn {
	background-color: #233343;
}

.home-cvr-img {
	width: 100%;
}

.home-cvr-btn:hover {
	color: #ffffff;
	background-color: #118A67;
}

.home-col {
	align-self: center;
}

.nav-item {
	text-align: center;
	margin: 0 10px;
}

.dropdown-menu {
	text-align: center;
}

.active:hover {
	text-decoration-line: overline;
}

.contact-btn {
	margin-top: 10px;
}

/* begin mouse scroll */

.scroll-downs {
	margin: auto;
	margin-top: 100px;
	width: 34px;
	height: 55px;
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #233343;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #168D6D;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}

	10% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

/* end mouse scroll */

/* handles the bootstrap top spacing */
@media (max-width: 979px) {
	body{
		padding-top: 60px;
	}
}